extends ../../components/elements/container/container
include ../../components/elements/button/button

mixin header
  +b('header').header
    .container.container_flex
      +b('a')(href="/").logo
        +e('img')(src="assets/images/logo.png", width="175", height="47", alt="RUBON").img
      +e('button').category.js-btn-category
        img.mr10(src='assets/images/ico-caregory.png' alt='')
        span Категории

      +b('form').global-search
        +e('input')#global-search.input(type="search", placeholder="Поиск...")
        +e('input')#global-search_submit.submit(type="submit")

        +e('label').label(for="global-search_submit")
          +b('svg').ico._gray._small
            +e('use')(xlink:href="assets/images/svg.svg#search")

      +b('button')(type="button" data-modal='#modalLocation').choose-region.js-openModal
        +b('svg').__icon.ico._gray
          +e('use')(xlink:href="assets/images/svg.svg#nav")
        +b('span').gray-text Регион

      +button('_red mr10 header__btn--first') Дать объявление
      +button('_blue mr20') Создать организацию

      +b.header__profile
        +e('a')(href="#").registration
          +b('svg').ico._gray.mr10
            +e('use')(xlink:href="assets/images/svg.svg#reg")
          +b('span').gray-text.js-openModal(data-modal='#modalReg') Регистрация
        +e('a')(href="#" data-modal='#modalEnter').enter.red-text.js-openModal Войти
  .modal__overlay.js-modalClose
  +b.modal.modal-big.modal-js(id='modalLocation')
    +e('header').header
      +e('h2').title Выберите город
    +e.body
      +e('form').form-location(id="location")
        +e('input').city-search(type="search" name="city-search" placeholder="Введите город")
      +b.city-choise
        +e('ul').list
          -
            var items = [
              'Донецк',
              'Москва',
              'Магадан',
              'Курск',
              'Воронеж',
              'Волгоград',
              'Санкт-Петербург',
              'Пекин',
              'Чайнатаун',
              'Белгород',
              'Ростов-на-Дону',
              'Ставпрополь',
              'Сибирь',
              'Кострома',
              'Большая Лаповка',
              'Провинция Шаньдун',
              'Сеул',
              'Токио',
              'Мурманск',
              'Луганск',
              'Снежное',
              'Сибирь',
              'Кострома',
              'Большая Лаповка',
              'Провинция Шаньдун',
              'Сеул',
              'Токио',
              'Мурманск',
              'Луганск',
              'Снежное',
              'Провинция Шаньдун',
              'Сеул',
              'Токио',
              'Мурманск',
              'Луганск',
              'Снежное'
            ]
          each item in items
            +e('li').li
              a.header-nav__link.header-nav__dropdown-link(href='#')= item
    +e('footer').footer
      button.button.button_white.modal__btn Отмена
      button.button.button_red.modal__btn Выбрать
    button.button_close.js-modalClose ×
  +b.modal.modal-big.modal-js(id='modalEnter')
    +e.content.__content-two.d-flex.flex-wrap
      +e.left
        +e('h2').title.__title-small Войти в кабинет
        +e('form').form.mb0
          +e('input').input.__input-small(placeholder='Введите e-mail' type='email')
          +e('input').input.__input-small(placeholder='Введите пароль' type='password')
          .d-flex.align-items-center.flex-wrap.mb15.mt5
            +b('label').checkbox.mt5.mb5
              input(type='checkbox')
              +e.main
                i.fa.fa-check
              span Запомнить меня
            span.ml-auto.mt5.mb5.c-gray.fz12.js-openModal(data-modal='#modalPassword') Не можете войти?
          button.button.button_red.modal__btn.modal__btn-small Войти
      +e.center
        span или
      +e.right
        -
          var items = [
            {
              name: 'vk',
              title: 'Войдите через VK'
            },
            {
              name: 'facebook',
              title: 'Войдите через Facebook'
            },
            {
              name: 'twitter',
              title: 'Войдите через Twitter'
            },
            {
              name: 'google-plus',
              title: 'Войдите через Google'
            }
          ]
        .pb20
          each item in items
            +e('a').social.button(class=`btn-${item.name}` href='#')
              span= item.title
              i.fa(class=`fa-${item.name}`)
        .text-center.pt20.fz15
            span.fw-light Нет аккаунта?
            +e('span').link.js-openModal(data-modal='#modalReg')  Зарегистрируйтесь!
    button.button_close.js-modalClose ×
  +b.modal.modal-js(id='modalPassword')
    +e.content
      +e('h2').title Восстановление доступа
      +e('form').form
        +e('input').input(placeholder='E-mail' type='email')
        button.button.button_red.modal__btn.js-openModal(data-modal='#modalPasswordSuccess') Отправить доступы на почту
      .text-center
        span.fw-light или
        +e('span').link.js-openModal(data-modal='#modalEnter')  Войти в личный кабинет
    button.button_close.js-modalClose ×
  +b.modal.modal-big.modal-js(id='modalReg')
    +e.content.__content-two.d-flex.flex-wrap
      +e.left
        +e('h2').title.__title-small Регистрация
        +e('form').form.mb0
          +e('input').input.__input-small(placeholder='Введите e-mail' type='email')
          +e('input').input.__input-small(placeholder='Введите логин' type='text')
          +e('input').input.__input-small(placeholder='Введите пароль' type='password')
          .d-flex.align-items-center.flex-wrap.mb15.mt5
            +b('label').checkbox.mt5.mb5
              input(type='checkbox')
              +e.main
                i.fa.fa-check
              span * Я соглашаюсь с правилами использования сервиса, а также с передачей и обработкой моих данных в RUB-ON. Я подтверждаю своё совершеннолетие и ответственность за размещение объявления
          button.button.button_red.modal__btn.modal__btn-small Зарегистрироваться
      +e.center
        span или
      +e.right
        -
          var items = [
          {
          name: 'vk',
          title: 'Регистрация через VK'
          },
          {
          name: 'facebook',
          title: 'Регистрация через Facebook'
          },
          {
          name: 'twitter',
          title: 'Регистрация через Twitter'
          },
          {
          name: 'google-plus',
          title: 'Регистрация через Google'
          }
          ]
        .pb20
          each item in items
            +e('a').social.button(class=`btn-${item.name}` href='#')
              span= item.title
              i.fa(class=`fa-${item.name}`)
        .text-center.pt20.fz15
          span.fw-light Уже зарегистрированы?
          +e('span').link.js-openModal(data-modal='#modalEnter')  Авторизуйтесь!
    button.button_close.js-modalClose ×
  +b.modal.modal-js(id='modalPasswordSuccess')
    +e.content
      +e('h2').title Благодарим
      .check-pulse
        i.fa.fa-check
      +e('p').text Ваша заявка на восстановление доступа <br>к личному кабинету успешно отправлена.
      .text-center.mt30
        +e('span').link.js-openModal(data-modal='#modalEnter')  Войти в личный кабинет
    button.button_close.js-modalClose ×
